.idea
*.bak
*.apk
*.pyc
*.sqlite3
.project
.pydevproject
.settings
assets
*.zip
local_settings.py
test_settings.py
*.log
*.sublime-project
*.sublime-workspace
.DS_Store
node_modules
*.qiniu_pythonsdk_hostscache.json
*/migrations/*
!*/migrations/__init__.py
__pycache__

conf/
!conf/env.example.py