from django.utils.decorators import method_decorator
from drf_yasg import openapi
from drf_yasg.utils import swagger_auto_schema
from rest_framework import viewsets
from rest_framework import permissions

from {{ app.name }}.models import *
from {{ app.name }}.rest.serializers import *

{% for model in models %}
class {{ model.name }}ViewSet(viewsets.ModelViewSet):
    """{{ model.verbose_name }}相关操作"""
    serializer_class = {{ model.name }}Serializer
    queryset = {{ model.name }}.objects.all()
    permission_classes = [permissions.IsAuthenticatedOrReadOnly]

{% endfor %}
